<div class="c_focus">
    <div class="c_btns">
        <button class="btn btn-primary" onclick="c_clear()" id="Clear">Clear</button>
        <button class="btn btn-primary" onclick="c_copy()" id="Copy">Copy</button>
        <button class="btn btn-primary" onclick="c_paste()" id="Past">Past</button>
    </div>
    <div class="c_textarea">
        <textarea name="appText" id="appText" placeholder="Enter your text here"></textarea>
    </div>
    <div class="c_btns">
        <div class="btn btn-primary" onclick="c_lowercase()">lower case</div>
        <div class="btn btn-primary" onclick="c_uppercase()">UPER CASE</div>

        <div class="btn btn-primary" onclick="c_camelcase()">camelCase</div>
        <div class="btn btn-primary" onclick="c_pascalcase()">PascalCase</div>
        <div class="btn btn-primary" onclick="c_snakecase()">Snake_Case</div>
    </div>
</div>